<div>
  <button (click)="switchLanguage('en')">English</button>
  <button (click)="switchLanguage('pl')">Polski</button>
</div>

<h1>{{ "CAR_RENTAL.TITLE" | translate }}</h1>
<p>{{ "CAR_RENTAL.DESCRIPTION" | translate }}</p>

<div>
  <h2>{{ "CAR_RENTAL.CAR_DETAILS" | translate }}</h2>
  <p>{{ "CAR_RENTAL.BRAND" | translate }}: Tesla</p>
  <p>{{ "CAR_RENTAL.MODEL" | translate }}: Model S</p>
  <p>{{ "CAR_RENTAL.YEAR" | translate }}: 2021</p>
  <p>{{ "CAR_RENTAL.PRICE" | translate }}: $100</p>
</div>
