<div
  data-animation="over-right"
  class="navbar_component w-nav"
  data-easing2="ease"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease"
  data-collapse="small"
  data-w-id="d8749cb0-c2e7-1cb9-03c8-2dde4400c515"
  role="banner"
  data-no-scroll="1"
  data-duration="300"
  data-doc-height="1"
>
  <div class="navbar_container">
    <a href="/" class="navbar_logo-link w-nav-brand" aria-label="home">
      <img
        src="https://cdn.prod.website-files.com/6433dacbac06871f87b2730b/64343f0cc1aec61ed605be26_justcars-logotype.svg"
        loading="lazy"
        alt=""
        class="navbar_logo"
      />
    </a>
    <div class="navbar_wrapper">
      <a href="/" class="button is-link hide-mobile-landscape w-button"
        >Strona Główna</a
      >
      <a href="/kontakt" class="button is-link hide-mobile-landscape w-button"
        >Kontakt</a
      >
      <a
        href="/wynajem-z-kierowca"
        class="button is-link hide-mobile-landscape w-button"
        >Wynajem z kierowcą</a
      >
      <a
        href="/nasze-auta"
        aria-current="page"
        class="button is-navbar hide-mobile-landscape w-button w--current"
        >Nasze auta</a
      >
      <nav role="navigation" class="navbar_menu w-nav-menu">
        <div class="navbar_menu-wrapper">
          <div class="navbar_links-wrapper">
            <a
              href="/nasze-auta"
              aria-current="page"
              class="navbar16_link w-inline-block w--current"
            >
              <div class="text-color-carmel is-decorative is-nav">01</div>
              <div>Nasze auta</div>
            </a>
            <a href="/kontakt" class="navbar16_link w-inline-block">
              <div class="text-color-carmel is-decorative is-nav">02</div>
              <div>Kontakt</div>
            </a>
            <a href="/wynajem-z-kierowca" class="navbar16_link w-inline-block">
              <div class="text-color-carmel is-decorative is-nav">03</div>
              <div>Wynajem z kierowcą</div>
            </a>
          </div>
          <div class="navbar_bottom">
            <div class="text-size-large text-style-muted">Dane kontaktowe</div>
            <div class="w-layout-grid contact_contact-list is-navbar">
              <div class="navbar_contact-item">
                <div class="icon-embed-small w-embed">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_41_865)">
                      <path
                        d="M28.6001 20.3707L20.3708 28.6C19.3295 29.6414 17.6415 29.6414 16.6001 28.6L3.40014 15.4C2.35881 14.3587 2.35881 12.6707 3.40014 11.6294L11.6295 3.40002C12.6708 2.35869 14.3588 2.35869 15.4001 3.40002L28.5988 16.5987C29.6415 17.6414 29.6415 19.3294 28.6001 20.3707Z"
                        stroke="#E8A075"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="square"
                      ></path>
                      <path
                        d="M21.6575 21.6568C22.1782 21.1361 22.1782 20.2919 21.6575 19.7712C21.1368 19.2505 20.2926 19.2505 19.7719 19.7712C19.2512 20.2919 19.2512 21.1361 19.7719 21.6568C20.2926 22.1775 21.1368 22.1775 21.6575 21.6568Z"
                        fill="#E8A075"
                      ></path>
                      <path
                        d="M22.666 1.33337C27.0847 1.33337 30.666 4.91471 30.666 9.33337"
                        stroke="#E8A075"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="square"
                      ></path>
                      <path
                        d="M9.33301 30.6667C4.91434 30.6667 1.33301 27.0854 1.33301 22.6667"
                        stroke="#E8A075"
                        stroke-width="2"
                        stroke-miterlimit="10"
                        stroke-linecap="square"
                      ></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_41_865">
                        <rect width="32" height="32" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="margin-bottom margin-xxsmall">
                  <a
                    href="tel:+48695712712"
                    class="text-size-medium text-weight-medium text-color-white link-number-phon w-inline-block"
                    >tel. +48 695 712 712</a
                  >
                </div>
              </div>
              <div class="navbar_contact-item">
                <div class="icon-embed-small w-embed">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M25.3327 9.33337L15.9993 18.6667L6.66602 9.33337"
                      stroke="#E8A075"
                      stroke-width="2"
                      stroke-miterlimit="10"
                      stroke-linecap="square"
                    ></path>
                    <path
                      d="M27.9997 4H3.99967C2.52692 4 1.33301 5.19391 1.33301 6.66667V25.3333C1.33301 26.8061 2.52692 28 3.99967 28H27.9997C29.4724 28 30.6663 26.8061 30.6663 25.3333V6.66667C30.6663 5.19391 29.4724 4 27.9997 4Z"
                      stroke="#E8A075"
                      stroke-width="2"
                      stroke-miterlimit="10"
                      stroke-linecap="square"
                    ></path>
                    <path
                      d="M9.33268 20L6.66602 22.6667"
                      stroke="#E8A075"
                      stroke-width="2"
                      stroke-miterlimit="10"
                      stroke-linecap="square"
                    ></path>
                    <path
                      d="M22.666 20L25.3327 22.6667"
                      stroke="#E8A075"
                      stroke-width="2"
                      stroke-miterlimit="10"
                      stroke-linecap="square"
                    ></path>
                  </svg>
                </div>
                <div class="margin-bottom margin-xxsmall">
                  <a
                    href="mailto:maciek@justcarspremium.com"
                    class="text-size-medium text-weight-medium text-color-white link-email w-inline-block"
                    >kontakt&#64;justcarspremium.com
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div
        class="navbar_menu-button w-nav-button"
        style="-webkit-user-select: text"
        aria-label="menu"
        role="button"
        tabindex="0"
        aria-controls="w-nav-overlay-0"
        aria-haspopup="menu"
        aria-expanded="false"
      >
        <div class="menu-icon">
          <div class="menu-icon_wrapper">
            <div class="menu-icon4_line-top"></div>
            <div class="menu-icon4_line-middle">
              <div class="menu-icon_line-middle-top"></div>
              <div class="menu-icon_line-middle-base"></div>
            </div>
            <div class="menu-icon4_line-bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
